<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="arm_base_link">
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="forearm_link">
        <material>Gazebo/Yellow</material>
    </gazebo>
    
    <gazebo reference="hand_link">
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo>
        <plugin
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
        </plugin>
    </gazebo>



     <gazebo>
    <plugin filename="libgazebo_ros_joint_pose_trajectory.so" name="gazebo_ros_joint_pose_trajectory">
      <robotNamespace>my_robot</robotNamespace>
      <update_rate>100</update_rate>
        <joint_names>
            <joint>arm_base_forearm_joint</joint>
            <joint>forearm_hand_joint</joint>
        </joint_names>
    </plugin>
  </gazebo>



</robot>